body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex; /* Включаем flexbox для всего body */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 100vh; /* Задаем высоту body равной высоте окна браузера */
    margin: 0; /* Убираем отступы */
}

h1 {
    color: #5a5a5a;
    text-align: center;
    margin-bottom: 20px; /* Добавим отступ снизу, чтобы заголовок не сливался с формой */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label, div {
    margin: 10px 0;
    text-align: center; /* Центрируем текст меток и элементов ввода */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Задаем ширину кнопки равной ширине контейнера */
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    margin-top: 10px;
    text-align: center; /* Центрируем ссылку */
}