{% extends "base.html" %}

{% block content %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        max-width: 300px;
        margin: 0 auto; 
    }

    form div {
        margin-bottom: 15px;
        width: 100%; 
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: white;
        text-align: center; 
    }

    input {
        width: 100%;
        box-sizing: border-box;
        text-align: center; 
    }

    button {
        margin-top: 10px;
        text-align: center;
        width: 100%; 
    }

    h1, h2 {
        color: white;
        text-align: center;
    }
</style>

<h1>Редактировать данные</h1>
<form method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" value="{{ user['name'] }}">
    
    <label for="password">Новый пароль:</label>
    <input type="password" id="password" name="password">
    
    <button type="submit" class="knopk">Сохранить изменения</button>
</form>
{% endblock %}