{% extends "base.html" %}

{% block content %}
<style>
    
    form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    form div {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: white;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }

    button {
        margin-right: 5px;
    }

    h1, h2 {
        color: white;
    }
</style>
<h1>Список пользователей</h1>
<ul>
    {% for user in users %}
        <li>{{ user['name'] }} ({{ user['login'] }})</li>
    {% endfor %}
</ul>
<form action="/lab4/delete_user" method="POST">
    <button type="submit" class="knopk" style="margin-bottom: 20px;"> Удалить себя</button>
</form>
<a href="/lab4/edit_user" >Редактировать свои данные</a>
{% endblock %}