<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ваш билет</title>
    
</head>
<body>
    <h1>Ваш билет</h1>
    <p>ФИО: {{ ticket_info.fio }}</p>
    <p>Полка: {{ ticket_info.shelf }}</p>
    <p>Возраст: {{ ticket_info.age }}</p>
    <p>Пункт выезда: {{ ticket_info.departure }}</p>
    <p>Пункт назначения: {{ ticket_info.destination }}</p>
    <p>Дата поездки: {{ ticket_info.date }}</p>
    <p>Тип билета: {{ ticket_info.ticket_type }}</p>
    <p>Стоимость: {{ ticket_info.price }} руб.</p>
</body>
</html>