{% extends "base.html" %}

{% block title %}Лабораторная работа 2{% endblock %}

{% block content %}
    <h1>Лабораторная работа 2</h1>
    <p>Ссылки на страницы:</p>
    <!-- <ul>
        <li><a href="/lab2/add_flower">Добавить цветок</a></li>
        <li><a href="/lab2/flowers">Посмотреть все цветы</a></li>
        <li><a href="/lab2/calc">Калькулятор</a></li>
        <li><a href="/lab2/books">Список книг</a></li>
        <li><a href="/cats">Породы кошек</a></li>
    </ul> -->

    
    <a href="/lab2/add_flower">Добавить цветок</a><br>
    <a href="/lab2/flowers">Посмотреть все цветы</a><br>
    <a href="/lab2/calc">Калькулятор</a><br>
    <a href="/lab2/books">Список книг</a><br>
    <a href="/lab2/filters">Фильтры</a><br>
    <a href="/cats">Породы кошек</a>
  
    
{% endblock %}
