{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block content %}
    <style>
        
        body {
            background-color: #434883;
            color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        footer,header{
            background-color: #434883;
        }
        header {
            box-shadow: 0px 14px 8px #0000004d;
            height: 50px;
        }
        
            h1 {
                text-align: center;
                color: white;
                margin-top: 30px;
            }
        
            a {
                color: #feb7b0;
                text-decoration: none;
            }
        
            a:hover {
                text-decoration: underline;
            }
       
        .article-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .article {
            background-color: #4f5297;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 300px;
        }

        .article h2 {
            text-align: center;
            color: #feb7b0;
        }

        .article p {
            text-align: justify;
        }

        .actions {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .actions a, .actions button {
            color: white;
            background-color: #feb7b0;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
        }

        .actions button:hover, .actions a:hover {
            background-color: #f88e80;
        }
    </style>

    <h1>Ваши статьи</h1>
    <a href="{{ url_for('lab8.create_article') }}">Создать статью</a>
    <div class="article-container">
        {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p>{{ article.article_text }}</p>
                <div class="actions">
                    <a href="{{ url_for('lab8.edit_article', article_id=article.id) }}">Редактировать</a>
                    <form action="{{ url_for('lab8.delete_article', article_id=article.id) }}" method="post">
                        <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить статью?');">Удалить</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
